<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>공지글 작성하기</h1>
    <form action="{% url 'create_post' %}" method='post'>
        {% csrf_token %}
        <label for="title">제목</label>
        <input type="text" name='title'>
        <br>
        <label for="content">내용</label>
        <input type="text" name='content'>
        <br>
        <button type='submit'>글쓰기</button>
    </form>

</body>
</html>